body {
  background-color: #fff;
}
.cup-chooser {
  width: 100%;
}
.cup-chooser__cup-list {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
}
.cup-chooser__cup {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px;
}
.cup-chooser__cup-radio {
  position: absolute;
  opacity: 0;
  float: left;
  width: 100px;
  height: 100px;
  z-index: 100;
}
.cup-chooser__cup-image {
  width: 100px;
  height: 100px;
  background-color: #53bc93;
}
.cup-chooser__cup-radio:checked + .cup-chooser__cup-image {
  box-shadow: #53bc93 2px 2px 10px;
}
.logo {
  margin: 20px 0 5px 0;
  clear: both;
  display: block;
}
.logo__label {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: "Mate SC", serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.navbar {
  width: 100%;
  background-color: #53bc93;
}
.navbar__navigation {
  list-style: none;
  padding: 45px 0 5px 0;
}
.navbar__navigation-item {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.navbar__navigation-item:hover {
  color: #000;
  text-decoration: none;
}
.navbar__navigation-item--chinese {
  color: #fff;
  font-family: "SimHei", "黑体", "STHeiti", "华文黑体";
  line-height: 1;
}
.navbar__navigation-item--latin {
  font-family: "Mate SC", serif;
}
.text--green {
  color: #53bc93;
}
.acup-container {
  max-width: 800px;
  margin: 0 auto;
}
